@use 'base/mixins' as m;
@use 'base/variables' as v;

.video{
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(86,169,238);
        background: linear-gradient(273deg, rgba(86,169,238,0.41780462184873945) 6%, rgba(74,13,242,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        
        
    }
    video{
        width: 100%;
        display: block;
    }
}
.contenido-video{
    z-index: 1;
    h2{
       color: v.$blanco;
       font-size: 7rem;
       margin: 0;

    }
    p{
        background-color: v.$rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-weight: 700;
    }
}